<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>JobBoard</title>
  <base href="/static/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="styles.5d52894346a2e2a99741.css"></head>
<body class="mat-typography">
  <app-root></app-root>
<script src="runtime.4c7333b07892013e332d.js" defer></script><script src="polyfills.41881369c7646c88210a.js" defer></script><script src="main.cec97eecb63d056568f6.js" defer></script></body>
</html>
